# === Maven ===
/target/

# === IDEs ===
# IntelliJ
.idea/
*.iml
*.iws
/out/

# Eclipse
.project
.classpath
.settings/

# === OS files ===
.DS_Store
Thumbs.db

# === Logs ===
*.log

# === Java ===
*.class

# === Others ===
*.swp
